* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





body {
    font-family: batman,sans-serif;
    background-image:url(/P3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    }
   
    @font-face {
        font-family: batman;
        src: url(/FUENTES/batmfa_.ttf)
    }
/*Logo tecnimux*/  
.Logo_Tx {
    position: absolute;
    right: 20px;
    top: 20px;
    max-width: 5rem;
    cursor: pointer;
    }
    .Logo_Tx:hover {
        width: 100px;
        height: 81px;
        display: flex;
        border-radius: 2%; 
        transition: background-color 0.1s ease, opacity 0.4s ease; /* Aplica transiciones suaves */
    }
    
    .Logo_Tx:hover {
        background-color: #51317ac9; 
        opacity: 0.1; 
    }



    .container-img{
        width:1100px;
        max-width: 100%;
        margin: auto;
        margin-top: 60px;
        margin-bottom: 60px;
        display: grid;
        grid-template-columns:repeat(3, 1fr) ;
        grid-template-rows: 250px;
        grid-gap: 20px;
    }

    .container-img .box-img figure{
        width: 100%;
        height:100%;
    }

    .container-img .box-img img {
        width:100%;
        height:100%;
        object-fit:cover;
    }

    .container-img .box-img:nth-child(1){
        grid-column-start:span 2;
    }

    .container-img .box-img:nth-child(4){
        grid-column-start:span 2;
    }




  