body {
    background-image:url(/Yt.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    }
   
    @font-face {
        font-family: batman;
        src: url(/FUENTES/batmfa_.ttf)
    }

/*Logo tecnimux*/  
.Logo_Tx {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 5rem;
    cursor: pointer;
    }

    .Canal_YT { 
        position: absolute;
        margin-left:40rem;
        margin-top: 7rem;
        background-color: #4CAF50; 
        color: white;              
        padding: 2px 50px;         
        border: 8px;              
        border-radius: 5px;         
        cursor: pointer;           
        text-align: center;
    }

   



   

    .Canal_YT a { 
    text-decoration: none;
}
    

    .Canal_YT a:hover {
        text-decoration: underline;
    }


