body {
    background-image:url(/BgYT.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    }
   
    @font-face {
        font-family: batman;
        src: url(/FUENTES/batmfa_.ttf)
    }

/*01 Logo tecnimux parte superior derecha*/  
.T2 {
    position: relative;
}
.T2 img{
    width: 10%;
    height: auto;
    opacity: 100;
    position: absolute;
    top: 3px;
    left: 840px;
}

