* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    }
    body {
    background-image:url(/Yt.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    }
   
    @font-face {
        font-family: batman;
        src: url(/FUENTES/batmfa_.ttf)
    }

/*Logo tecnimux*/  
.Logo_Tx {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 5rem;
    cursor: pointer;
    }
    iframe {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
  .C_YT { 
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-90%, -50%);
        background-color: #4CAF50;            
        padding: 5px 2px;                    
        border-radius: 10px;         
        cursor: pointer; 
        font-size: rem; 
    }
    
    .C_YT a { 
    text-decoration: none;
}
    

    .C_YT a:hover {
        text-decoration: underline;
    }



   
