body {
    background-image:url(/FLIPPERZERO.jpeg);
    background-size: contain;
    background-repeat: repeat;
    }
   
    @font-face {
        font-family: batman;
        src: url(/FUENTES/batmfa_.ttf)
       }

/*01 Logo tecnimux parte superior derecha*/  
.T2 {
    position: relative;
}
.T2 img{
    width: 10%;
    height: auto;
    opacity: 100;
    position: fixed;
    left: 840px;
}


/* texto */
h1 {
    color:rgb(183, 0, 255);
}


h4 {
    color:white;}
   


h3 {
color: rgb(255, 0, 0);
}

    

/* iconos */
.A_PREMIERE img{
width:60px;
height:auto;
filter: grayscale(5%);
}

.A_PHOTOSHOP img{
width:60px;
height:auto;
left: 40px;
filter: grayscale(5%);
}

.A_ILLUSTRATOR img{
width: 60px;
height: auto;
left: 80px;
 filter: grayscale(5%); 
}
    
.A_AFTER_EFFECTS img{
 width:60px;
 height:auto;
left: 40px;
filter: grayscale(5%);
}

.VM_WARE img{
    width:50px;
    height:auto;
   left: 40px;
   filter: grayscale(5%);
   }  


   .S_OFFICE img{
    width:100px;
    height:auto;
    left: 40px;
    filter: grayscale(5%);
   }


   .KMS_PICO img{
    width:60px;
    height:auto;
    left: 40px;
    filter: grayscale(5%);
   }
        