* {
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
    }
    /*Logo tecnimux*/  
    .Logo_Tx {
        z-index:2 ;
        position: absolute;
        right: 20px;
        top: 20px;
        max-width: 5rem;
        cursor: pointer;
        }
        .Logo_Tx:hover {
            width: 100px;
            height: 81px;
            display: flex;
            border-radius: 2%; 
            transition: background-color 0.1s ease, opacity 0.4s ease; /* Aplica transiciones suaves */
        }
        
        .Logo_Tx:hover {
            background-color: #51317ac9; 
            opacity: 0.1; 
        }
        
    body {
    background-image:url(/FLIPPERZERO.jpeg);
    background-size: contain;
    background-repeat: repeat;
    }

    @font-face {
        font-family: batman;
        src: url(/FUENTES/batmfa_.ttf)
       }
       header {
        position: fixed;
        padding:40px;
       background-color:#000000;
       color: fff;
       margin: 0;
       top: 0;
       width: 100%;
    }


    
  

/* texto */

P {
color: floralwhite;
}

h4 {
    color:white;}
   


h3 {
color:goldenrod;
}

.btn {
    padding: 1rem 3rem;
    background:#2b2a2a ;
    border:0.1rem solid #00ff0d;
    cursor:pointer;
    position: absolute;
    margin-left: 12rem;
    margin-top: 0.5rem;
    border-radius: .4rem;
    overflow: hidden;
    padding-left: 5rem;
}
    
.btn::before {
    content:"Copiar";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 0.8rem;
    color: #ffff;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 700;
    text-shadow: .1rem .1rem .1rem #333;
    transition: .2s ease;
}

.btn::after {
    content:"TECNIMUX";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    font-size: 1rem;
    color: #ffff;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-weight: 700;
    text-shadow: .1rem .1rem .1rem #333;
    transition: .2s ease;
    opacity: 0;
}

.btn:hover::before {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
}


.btn:hover::after {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}





/* iconos */

        

        .L-A_PREMIERE img {
            z-index: 2;
            width:6%;
            height:auto;
            left: 40px;
            filter: grayscale(5%);  
          text-decoration: none;
        }


        .A_PREMIERE a {
        text-decoration: none;
        cursor: pointer;
        }
        

        .L-A_PHOTOSHOP img {
            width:6%;
            height:auto;
            left: 40px;
            filter: grayscale(5%);  
          
        }


        .A_PHOTOSHOP a {
        text-decoration: none;
        cursor: pointer;
        }

        .L-A_ILLUSTRATOR img {
            width:6%;
            height:auto;
            left: 40px;
            filter: grayscale(5%);  
        }

        .A_ILLUSTRATOR a {
            text-decoration: none;
            cursor: pointer;
            }

            .L-A_AFTER_EFFECTS img {
                width:6%;
                height:auto;
                left: 40px;
                filter: grayscale(5%);  
            }
    
            .A_AFTER_EFFECTS a {
                text-decoration: none;
                cursor: pointer;
                }

                .L-VM_WARE img {
                    width:6%;
                    height:auto;
                    left: 40px;
                    filter: grayscale(5%);  
                }
        
                .VM_WARE a {
                    text-decoration: none;
                    cursor: pointer;
                    }

                    .L-S_OFFICE img {
                        width:6%;
                        height:auto;
                        left: 40px;
                        filter: grayscale(5%);  
                    }
            
                    .S_OFFICE a {
                        text-decoration: none;
                        cursor: pointer;
                        }

                        .L-KMS_PICO img {
                            width:6%;
                            height:auto;
                            left: 40px;
                            filter: grayscale(5%);  
                        }
                
                        .KMS_PICO a {
                            text-decoration: none;
                            cursor: pointer;
                            }


                    .LOGO_WRAR img {
                        width:6%;
                        height:auto;
                        left: 40px;
                        filter: grayscale(5%);  
                      
                    }
            
            
                    .W_RAR a {
                    text-decoration: none;
                    cursor: pointer;
                    }

                    label {
                        position: fixed;
                        align-items: center;
                        color: greenyellow;
                        font-size: 2rem;
                        left: 0;
                        top: 50;
                    }
                    input  {
                        position: relative;
                        padding-left: 4px;
                        background-color:#ffffff;
                        max-width: 90px;
                        outline:none;
                        font-size: 1rem;
                        border: 0;
                        text-align:start;
                        top: .8rem;
                        left: 10.5rem;
                    
                        
                        
                    }
                   
                    .pw {
                        position: fixed;
                        align-items: center;

                    }