body {
    background-image:url(/FLIPPERZERO.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }
   
    @font-face {
        font-family: batman;
        src: url(/FUENTES/batmfa_.ttf)
    }

    /*01 Logo tecnimux parte superior derecha*/  
.T2 {
    position: relative;
}
.T2 img{
    float: right;
    width: 100px;
    height: auto;
    opacity: 100;
    position: absolute;
    top: 7px;
    left: 1750px;
}
/* texto */
.h4 {
    color: white;
}


/* iconos */
.A_PREMIERE {
width:60px;
height:auto;
filter: grayscale(5%);
}

.A_PHOTOSHOP {
width:60px;
height:auto;
left: 40px;
filter: grayscale(5%);
}

.A_ILLUSTRATOR {
width: 60px;
height: auto;
left: 80px;
 filter: grayscale(5%); 
}
    
.A_AFTER_EFFECTS {
 width:60px;
 height:auto;
left: 40px;
filter: grayscale(5%);
}
        