body {
    font-family: batman,sans-serif;
    background-image:url(/Chicxulub.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    }
   
    @font-face {
        font-family: batman;
        src: url(/FUENTES/batmfa_.ttf)
    }

/*Logo tecnimux*/  
.Logo_Tx {
    position: absolute;
    right: 20px;
    top: 20px;
    max-width: 5rem;
    cursor: pointer;
    }
    .Logo_Tx:hover {
        width: 100px;
        height: 81px;
        display: flex;
        border-radius: 2%; 
        transition: background-color 0.1s ease, opacity 0.4s ease; /* Aplica transiciones suaves */
    }
    
    .Logo_Tx:hover {
        background-color: #51317ac9; 
        opacity: 0.1; 
    }
