body {
    font-family: batman,sans-serif;
    background-image:url(/Chicxulub.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    }
   
    @font-face {
        font-family: batman;
        src: url(/FUENTES/batmfa_.ttf)
    }

/*Logo tecnimux*/  
.Logo_Tx {
    max-width: 5rem;
    cursor: pointer;
    }