* {
    cursor: url("/CURSOR/cursor.png"),auto ;
    margin: 0;
    padding:0;
    box-sizing: border-box;
    }

body {
    margin: 0;
    padding: 0;
font-family: batman,sans-serif;
}
a  {
    cursor: url("/CURSOR/cursor02.png"),auto ;
    }

@font-face {
    font-family: batman;
    src: url(FUENTES/batmfa_.ttf)
}


  
header {
    position: relative;
    top: 0;
    right: 0;
    z-index: 2;
    display:flex;
    align-items:center;
    justify-content:space-between ;
    padding: 1rem;
    background-color: rgba(44, 43, 44, 0.966);
    font-size: 1rem;
    letter-spacing: 0.2rem;
}

.Nav_List :hover {
    width: 10rem;
    height: 0.5px;
    background-color: #3333338f;
    display: flex;
    align-items: center;
    justify-content:center;
    text-align: center;
    color: #ffffff;
    border-radius: 2px;
    line-height: 100px;
    box-shadow: 0 4px 6px rgba(156, 69, 255, 0.308); /* Sombra inicial */
    transition: background-color 50s ease, transform 50s ease, box-shadow 0.8s ease;
    }
   .Nav_List:hover {
    background-color: #00000000;
    transform: scale(1.0); 
}


/*Logo tecnimux*/  
.Logo_Tx {
    max-width:5rem;
    cursor: pointer;
    background-color:transparent;
cursor: url("/CURSOR/cursor02.png"),auto ;
}
.Logo_Tx:hover {
    width: 100px;
    height: 81px;
    display: flex;
    border-radius: 2%; 
    transition: background-color 0.1s ease, opacity 0.4s ease; /* Aplica transiciones suaves */
}

.Logo_Tx:hover {
    background-color: #51317ac9; 
    opacity: 0.1; 
}



.Nav_Bar {
    align-items: center;
    text-align: center;
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: end;
}
.Nav_Bar li a {
    text-decoration: none;
    color: #00ff88;
}



.Open,
.Close {
    display: none;
}

@media  screen and (max-width:830px) {                       
    .Open,
    .Close {
    display: block;
    border: 0;
    font-size: 4rem;
    background-color: transparent;
    cursor: pointer;
}

    .Open {
        color: #ffffff;
    }
    .Close {
        color: #ffffff;
    }


.Nav_List {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap:1rem ;
    position: fixed;
    top: 0;
    right:0;
    bottom:0;
    background-color: #000000;
    padding:8rem ;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
}


.Nav_List.visible {
    opacity: 10;
    visibility: visible;
}

.Nav_Bar {
    top: 0;
    right: 0;
    flex-direction: column;
    align-items: end;
}



.Logo_Tx {
    cursor: url("/CURSOR/cursor02.png"),auto ;
    }

    .iniciar_s {
        position: relative;
        padding-top: 80px;

    }
    
    footer {
        position: fixed;
        bottom: 0;
        width:100%;
        height: 1vh;

    }
}


/*REDES SOCIALES*/
.S1 img {
    max-width: 2.2rem;
    height: auto;

}
    /* Estilo inicial del elemento */
.S1 {
    background-color: #6034db;
    color: #ffffff;
    transition: transform 0.3s ease;
    position: absolute;
    width: 25px;
    right: 20px;
    bottom: 120px;
  }

    /* Efecto hover con animación */
    .S1:hover {
        width: 30px;
        height: 25px;
        transition: transform 0.3s ease, background-color 0.3s ease; /* Transición suave en transform y color de fondo */
        align-items: center;
      }
  
      /* Efecto hover agresivo */
      .S1:hover {
        transform: scale(1) rotate(180deg);
        background-color:   #e74c3c;  /* Cambia el color de fondo al pasar el cursor */
      }
   /*NEGRO TRANSPARENTE
      #00000000;
*/

.S2 img {
    max-width: 2.2rem;
    height: auto;
}
 
.S2 {
    background-color: #6034db;
    color: #ffffff;
    transition: transform 0.3s ease;
    position: absolute;
    width: 25px;
    right: 20px;
    bottom: 80px;
  }

    
    .S2:hover {
        width: 30px;
        height: 25px;
        transition: transform 0.3s ease, background-color 0.3s ease; /* Transición suave en transform y color de fondo */
        align-items: center;
      }
  
    
      .S2:hover {
        transform: scale(1) rotate(360deg);
        background-color:   #e74c3c;  /* Cambia el color de fondo al pasar el cursor */
      }



.S3 img {
    max-width: 2.2rem;
    height: auto;
}
.S3 {
    background-color: #6034db;
    color: #ffffff;
    transition: transform 0.3s ease;
    position: absolute;
    width: 25px;
    right: 20px;
    bottom: 40px;
  }

    /* Efecto hover con animación */
    .S3:hover {
        width: 30px;
        height: 25px;
        transition: transform 0.3s ease, background-color 0.3s ease; /* Transición suave en transform y color de fondo */
        align-items: center;
      }
  
      /* Efecto hover agresivo */
      .S3:hover {
        transform: scale(1) rotate(360deg);
        background-color:   #e74c3c;  /* Cambia el color de fondo al pasar el cursor */
      } 

.S4 img {
    max-width: 1.2rem;
    height: auto;
}

.S4 {
    background-color: #6034db;
    color: #ffffff;
    transition: transform 0.3s ease;
    position: absolute;
    width: 25px;
    right: 20px;
    bottom: 0px;
      }
    
        /* Efecto hover con animación */
        .S4:hover {
            width: 30px;
            height: 25px;
            transition: transform 0.3s ease, background-color 0.3s ease; /* Transición suave en transform y color de fondo */
            align-items: center;
          }
      
          /* Efecto hover agresivo */
          .S4:hover {
            transform: scale(1) rotate(360deg);
            background-color:   #e74c3c;  /* Cambia el color de fondo al pasar el cursor */
          }
  


.Inicio a {
    top:30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    letter-spacing: 8px;
    text-align: center;
    opacity: 65%;
    text-decoration: none;
    color: #fffcfc63;
    cursor: pointer;
}

.Inicio img {
    width: 10px;
    height: 10px;
}




h1 {
    color: white;
    letter-spacing: 4px;
}
h3 {
    color: white;
}
h4 {

    color: white;
}

p {
    color: white;
    letter-spacing: 1px;
}

p3 {
    color: white;
}

.T3 {
    color: white;
}
.T4 {
    
    color: white;
    letter-spacing: 3px;
}


.welcome{
    position:relative;
    margin-top: 1rem;
    margin-left: 1rem;
}

   
/* Bandera y Sombrero */

/*SOMBRERO*/
    .colombia01 img {
        width: 30px;
        height:auto;
    position: relative;
    top: 468px;
    left: 16px;

    }
/*BANDERA*/
    .colombia02 img {
        width: 30px;
        height:auto;
        position:relative;
        top: 460px;
        left: 15px;
    }
    
    
/* Desarrollador */
    .T4 {
        position:relative;
        padding: 8px;
        letter-spacing:2px;
        margin: 0;
    }
    
/* Creditos MADE IN */
    .Creditos {
   
        position:relative;
        margin-left: 3.5rem;
        margin-top: 28rem;
        letter-spacing: 4px;
        font-size: 6;
    }




    /*Video de fondo*/
#BK {
    min-height: 10vh;
    position: relative;
}
video {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Capa {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background-color: #3b3b3b;
    opacity:0,5;
    mix-blend-mode: overlay;
}


.iniciar_s  {
    position: relative;
}

.iniciar_s h2 {
   
    color: #d0ff00;
    padding:1rem ;
}

.iniciar_s a {
    text-decoration: underline;
    color: #688b07;   
}




footer {
    position: absolute;
    right: 50%;
    height: 50%;
}