body {
font-family: batman,sans-serif;
margin: 0;

}

* {
    margin: 0;
padding:0;
box-sizing: border-box;
}
@font-face {
    font-family: batman;
    src: url(FUENTES/batmfa_.ttf)
}

  
header {
    position: relative;
    z-index: 2;
    display: flex;
    align-items:center;
    justify-content:space-between ;
    padding: 1rem;
    background-color: rgba(44, 43, 44, 0.966);
    font-size: 1.5rem;
}
/*Logo tecnimux*/  
.Logo_Tx {
    max-width: 5rem;
    cursor: pointer;
    background-color:transparent;
}
.Nav_Bar {
    list-style: none;
    display: flex;
    gap: 2rem;
        align-items: end;
}
.Nav_Bar li a {
    text-decoration: none;
    color: #00ff88;
}

.Open,
.Close {
    display: none;
}

@media  screen and (max-width:830px) {                       
    .Open,
    .Close {
    display: block;
    border: 0;
    font-size: 4rem;
    background-color: transparent;
cursor: pointer;
}

    .Open {
        color: #ffffff;
    }
    .Close {
        color: #ffffff;
    }


.Nav_List {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap:1rem ;
    position: fixed;
    top: 0;
    right:0;
    bottom:0;
    background-color: #000000;
    padding:8rem ;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
}


.Nav_List.visible {
    opacity: 10;
    visibility: visible;
}

.Nav_Bar {
    flex-direction: column;
    align-items: end;
}

}

/*
}

.Redes_sociales.visible {
    opacity: 1;
    visibility: visible;
}

.Redes_s {
    flex-direction: column;
    align-items: end;
}


.Redes_sociales {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap:1rem ;
    position: fixed;
    top: 0;
    right:0;
    bottom:0;
    background-color: #3b3b3b;
    padding:8rem ;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
}
*/










/* ( S REDES SOCIALES) 
.S1 img {
    width: 5rem;
    height: auto;

    position: fixed;
    top: 8px;
    left:400px;
}

.S2 img {
    width: 5rem;
    height: auto;

    position: fixed;
    top:8px;
    left:450px;
}

.S3 img {
    width: 5rem;
    height: auto;

    position: fixed;
    top: 3px;
    left:500px;
}

.S4 img {
    width: 3rem;
    height: auto;

    position: fixed;
    top: 8px;
    left:550px;
}
*/


/*Caracteristicas del texto*/
.Titulo_01 {
    position: relative;
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 20px;

}
/*
_02 {
    position: relative;
margin-top: 10px;
margin-left: 20px;
    font-size: 10px;
    color: #000;
    
   }
*/

.Inicio a {
    top:30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    letter-spacing: 8px;
    text-align: center;
    opacity: 65%;
    text-decoration: none;
    color: #fffcfc63;
    cursor: pointer;
}

.Inicio img {
    width: 10px;
    height: 10px;
}



h1 {
    color: white;
    letter-spacing: 4px;
}
h3 {
    color: white;
}
h4 {

    color: white;
}

p {
    color: white;
    letter-spacing: 1px;
}

p3 {
    color: white;
}

.T3 {
    color: white;
}
.T4 {
    
    color: white;
    letter-spacing: 3px;
}

/* Iconos 
.L1 {
position: relative;
}
.L1 img {
    width: 12.5%;
    height: auto;

    position: absolute;
    top: -18px;
    left:20px;

}


.L2 {
    position: relative;
}
.L2 img {
    width: 10%;
    height: auto;

    position: absolute;
    top: -10px;
    left:170px;
}

.L3 {
    position: relative;

}
.L3 img {
    width: 10%;
    height: auto;

    position: absolute;
    top: -10px;
    left: 320px;
}

.L4 {
    position: relative;
}
.L4 img {
    width: 8%;
    height: auto;

    position: absolute;
    top:5px;
    left: 493px;

}
*/

/*( P ) Palabras de botones 

.P01  {
    position: absolute;
    
    left:46px;
    top: 238px;
    
}



.P02 {
    position: absolute;
    left: 179px;
    top: 238px;
}



.P03  {
    position: absolute;
    left: 320px;
    top: 238px;

}


.P04 {
    position:absolute;
    left:490px;
    top: 238px;
}
*/
/* Login */

.welcome{
    position:relative;
    margin-top: 1rem;
    margin-left: 1rem;
}

   
/* Bandera y Sombrero */


    .colombia01 img {
        width:10%;
        height:auto;
    position: relative;
    margin-top: 8rem;
    margin-left: 1rem;

    }

    .colombia02 img {
        width: 10%;
        height:auto;
        position:relative;
        margin-top: -1rem;
        margin-left: 1rem;
    }
    
    
/* Desarrollador */
    .T4 {
        position:relative;
        padding-left: 1rem;
        padding-top: 1.5rem;
    }
    
/* Creditos MADE IN */
    .Creditos {
        position:relative;
        margin-top: 0.5rem;
        margin-left: 1rem;
    }

/* Eslogan 
    .Eslogan {
        font-size: 10rem;
        position:absolute;
        opacity: 0.5;

        left: 200;
     
    }
*/


    /*Video de fondo*/
#BK {
    min-height: 10vh;
    position: relative;
}
video {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Capa {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background-color: #3b3b3b;
    opacity:0,5;
    mix-blend-mode: overlay;
}


.iniciar_s a {
    position: relative;
    text-decoration:underline ;
}

.iniciar_s h2 {
   
    color: #d0ff00;
    padding:1rem ;
}

.iniciar_s a {
    text-decoration: underline;
    color: #688b07;
}