:root {
    --black: #000;
    --white: #fff;
    --primary-color: #ffcb34;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--white);
}

body {
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--black);
    color: var(--white);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}

header {
    position: relative;
    height: auto;
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: .5rem;
    flex-direction: column;
    padding: 6rem 1rem 1rem 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.188);

    & h1 {
        font-size: 2rem;
        color: var(--primary-color);
    }

    & p:nth-child(2) {
        color: var(--primary-color);
    }

    & h1 span {
        color: var(--white);
        font-size: 1.5rem;
    }

    & #avatar {
        height: 100px;
        width: 100px;
        border: solid 1px rgba(255, 255, 255, 0.233);
        transform: rotateY(180deg);
        border-radius: 5%;
        transition: all 0.3s ease-in-out;   
    }

    & .available {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(26, 26, 26);
        border-radius: 5px;
        padding: .3rem .5rem;
        font-size: 1rem;
        text-align: center; 

        & #radar {
            border: 3px solid var(--primary-color);
            border-radius: 50%;
            width: 1rem;
            height: 1rem;
            margin-right: .5rem;
            animation: radar 1s infinite;
        }

        & span {
            font-size: .8rem;

            &:nth-child(2) {
                font-weight: 600;
                color: #28a745;
            }
        }
    }

    & .networks {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
        margin-top: 1rem;

        & h2 {
            font-size: 1rem;
            font-weight: 400;
            color: var(--primary-color);
        }

        & ul {
            position: relative;
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            gap: 1rem;

            & li a img {
                height: 30px;
                width: 30px;
            }
        }
    }
}

.style-avatar {
    filter: drop-shadow(0px 0px 10rem #ffffffb7);
    box-shadow: 0 0 20rem var(--primary-color);
}

@keyframes radar {
    from  {
        scale: 0;
    }
    to {
        scale: 1;
    }
}


footer {
    z-index: 10;
    position: fixed;
    bottom: 0;
    right: 0;
    height: auto;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: .5rem;
    /* border: 2px solid rgb(255, 203, 52, 0.21);
    border-radius: 10px; */

    & nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 1rem;

        & ul {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 1rem;
            list-style: none;
            border: 1px solid rgba(255, 255, 255, 0.87);
            padding: 1rem;
            border-radius: 20px;
            backdrop-filter: blur(10px);
            transition: all 0.3s ease-in-out;


             & #btn-about-me {

                /*&:hover svg {
                    fill: var(--primary-color);
                } */


                &:hover span {
                   display: flex;
                }
            }
            
            & li {
                position: relative;
                font-size: .8rem;

                & svg {
                    display: block;
                    height: 35px;
                    width: 35px;
                }

                & span {
                    position: absolute;
                    top: -150%;
                    left: 50%;
                    transform: translate(-50%, 0);
                    background-color:  var(--primary-color);
                    border-radius: 5px ;
                    margin-top: .5rem;
                    padding: 0 .5rem;
                    color: var(--black);
                    backdrop-filter: blur(30px);
                    display: none;

                    @media screen and (max-width: 900px)  {
                        top: 0;
                        left: -60px;
                    }
                }

                /* & svg:hover {
                    transform: scale(1.2);
                } */
                
                /* &:hover:nth-child(4) svg {
                    stroke: var(--primary-color);
                } */



                &:hover span {
                    display: flex;
                }

                &:active {
                    opacity: .6;
                }
            }

            /* & #btn-projects {

                &:hover svg {
                    stroke: var(--primary-color);
                }
            } */

            & #btn-music {
                position: relative;
                display: block;
                justify-content: center;
                align-items: center;
                list-style: none;

                & #btn-effects-on {
                    display: none;
                }
            }
        }
    }
}

#home {
    position: relative;
    height: auto;
    min-height: calc(100vh - 94px);
    width: 100%;
    max-width: 800px;

    & .container-personal-info {
        position: relative;
        height: auto;
        width: 100%;
        max-width: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: .5rem;
        padding: 1rem 2rem;

        & h2 {
            width: 100%;
            text-align: start;
            font-size: 2rem;
            padding: 3rem 0 2rem 0;
        }

        & p {
            font-size: 1rem;
            font-weight: 400;
            text-wrap: pretty;
        }

        & .item-my {
            position: relative;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0.048), rgba(0, 0, 0, 0.089), rgba(255, 255, 255, 0));
            border: 1px solid rgb(26, 26, 26);
            border-radius: 5px;
            padding: .5rem;

            & span {
                font-size: 3rem !important;
                font-weight: bold;
            }


            &:nth-child(2) {
                background-image: url(https://img.freepik.com/free-vector/gradient-colorful-background-template-design_698780-897.jpg?t=st=1732843600~exp=1732847200~hmac=d3469ed61c5825b83f33c55794f6e7cb0cf13576d3882e141fd06c25e5c4ec81&w=1380);
                background-size: cover;
                background-position: center;
                background-position: center;
                filter:  saturate(100%) brightness(100%) contrast(.9) hue-rotate(8deg);

                &::before {
                    content: '';
                    z-index: -1;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: black;
                    background-size: contain;
                    filter: opacity(.8);
                    border-radius: 3.5px;
                  }
            }

            
            &:nth-child(3) {
                background-image: url(https://img.freepik.com/premium-photo/all-black-background-podium-square-step-stage-podium-with-grid-background-led-light-product-display-3d-render_182956-209.jpg);
                background-size: cover;
                background-position: center;
                filter:  saturate(100%) brightness(100%) contrast(.9) hue-rotate(180deg);

                &::before {
                    content: '';
                    z-index: -1;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: black;
                    background-size: cover;
                    filter: opacity(.8);
                    border-radius: 5px;
                  }
            }

            &:nth-child(4) {
                background-image: url(https://img.freepik.com/free-vector/green-pyramid-background-geometric-3d-rendered-shape-vector_53876-157787.jpg?t=st=1732842754~exp=1732846354~hmac=6c671bb3889b8cfa2f7860ad8d82b60dbe7580ce7759322fa941afdde2723294&w=1380);
                background-size: cover;
                background-position: center;
                filter:  saturate(100%) brightness(100%) contrast(.9) hue-rotate(180deg);

                &::before {
                    content: '';
                    z-index: -1;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: black;
                    background-size: cover;
                    filter: opacity(.8);
                    border-radius: 3.5px;
                  }
            }

            &:nth-child(5) {
                background-image: url(https://img.freepik.com/vector-premium/senal-patron-prueba-tv-vector-television-barras-colores-introduccion-senal-final-programacion-tv-ilustracion-barras-colores-smpte_230920-1253.jpg?w=360);
                background-size: cover;
                background-position: center;
                filter:  saturate(100%) brightness(100%) contrast(.9) hue-rotate(180deg);

                &::before {
                    content: '';
                    z-index: -1;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: black;
                    background-size: cover;
                    filter: opacity(.95);
                    border-radius: 3.5px;
                  }
            }

            & p {
                font-size: .9rem;
                text-shadow: 0 0 10px var(--black);
            }

            & span {
                font-size: .8rem;
            }
        }
    }
}

#about {
    position: relative;
    padding: 3rem 2rem;
    overflow: hidden;


    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1; /* Asegúrate de que no bloquee otros elementos */
        background-image: url(/Img/keyboard.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        filter: blur(10px);
    }


    & p {
        padding: .5rem 0;
    }

    & span {
        color: var(--primary-color);
    }

    & img {
        height: auto;
        max-width: 350px;
    }
}

#projects {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem 2rem;
    background-image: url(/Img/mandala.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

    & h1 {
        width: 100%;
        text-align: start;
    }

    & .container-projects {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;

    }

    & .item-project {
        position: relative;
        min-height: 270px;
        /* max-height: 300px; */
        max-width: 800px;
        width: 750px;
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        flex-wrap: wrap;
        border: 1px solid rgb(26, 26, 26);
        border-radius: 5px;
        margin: .5rem;
        padding: 2rem 1rem;
        background-image: linear-gradient(to top right, #000, #ffcc3409, #000 );
        backdrop-filter: blur(5px);

        & .image-project {
            position: relative;
            height: auto;
            height: 230px;
            width: 100%;
            max-width: 300px;
            border-radius: 5px;
            
            overflow: hidden;

            & img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition: all 0.3s ease-in-out;

                &:hover {
                    height: 130%;
                    width: 130%;
                    filter: blur(5px);
                }
            }
        }

        & .descrip-project {
            position: relative;
            display: flex;
            max-width: 380px;
            justify-content: center;
            align-items: end;
            flex-direction: column;
            gap: .2rem;
            font-size: .8rem;

            & h2 {
                color: var(--primary-color);
            }

            & p {
                opacity: .6;
            }

            & a {
                color: var(--black);
            }

            & img {
                height: 20px;
                width: 20px;
                filter: brightness(50%);


            }

            & button {
                font-weight: bold;
                margin-top: .5rem;
                padding: .2rem .3rem;
                border: 1px;
                border-radius: 5px;
                border: 1px solid rgba(26, 26, 26, 0.288);
                cursor: pointer;

                &:hover {
                    opacity: .6;
                }
            }

            & .date {
                border-bottom: 1px solid rgba(231, 231, 231, 0.188);
                width: 100%;
                text-align: end;
                padding-bottom: 1rem;
                opacity: 1;
            }

            .stack {
                padding-top: 10px;
            }

            & .hosting {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid rgba(231, 231, 231, 0.188);
                border-radius: 3px;
                padding: 0 .5rem;
                margin-top: .5rem;

                & p {
                    display: inline-flex;
                }

                & span {
                    padding-right: 5px;
                }

                & img {
                    filter: brightness(100%);
                    padding: 2px;
                }
            }

            @media screen and (max-width: 768px)  {
                width: 100%;
                }
        }

    @media screen and (max-width: 768px)  {
        width: 300px;
        height: auto;
        }
    }
}

#experience {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    padding: 1rem 2rem;

    & h1 {
        width: 100%;
        text-align: start;
        padding: 2rem 0;
        text-wrap: pretty;
    }

    & .item-experience {
        position: relative;
        height: auto;
        width: 100%;
        max-width: 600px;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        margin-top: .5rem;
        padding-bottom: 1rem;

        & span {
            color: var(--primary-color);
            padding: 3px 0;
        }

        &::before {
            content: "";
            z-index: 1;
            position: absolute;
            top: 10px;
            left: -40px;
            width: 10px;
            height: 10px;
            background-color: var(--primary-color);
            box-shadow: 0 0 20px #fff;
            background-size: contain;
            filter: opacity(.8);
            border-radius: 5%;
        }

        &::after {
            content: "";
            z-index: -1;
            position: absolute;
            top: 20px;
            left: -37px;
            width: 3px;
            height: 45px;
            background: linear-gradient(var(--white), transparent);
            background-size: contain;
            filter: opacity(.2);
        }

        @media screen and (max-width: 900px)  {
            max-width: 250px;
        }
    }
}

#stack {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 2rem;
    padding: 1rem 2rem;

    & h1 {
        width: 100%;
        text-align: start;
        padding: 2rem 0 .5rem 0;
    }

    & p {
        width: 100%;
        text-align: start;
    }

    & .container-stack {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        padding: 2rem;

        & .item-stack {

            & img {
                height: 35px;
                width: 35px;
            }
        }
    }
}

#toolkit {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    padding: 1rem;
    display: none;

    & h1 {
        width: 100%;
        text-align: start;
        padding: 2rem 0;
    }

    & .bento-grid {
        display: grid;
        grid-template-columns: repeat(15, 1fr); /* 12 columnas iguales */
        grid-template-rows: repeat(6, 1fr); /* 6 filas con igual tamaño */
        gap: .5rem; /* Sin separación entre los elementos */
        width: 100%;
        height: 100%;
        max-width: 1200px; /* Máximo ancho */
      }
  
      .bento-grid div {
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 1.2rem;
        border-radius: 8px;
        text-align: center;
        margin: .2rem;

        &:hover {
            background-color: var(--white);
        }
      }
  
      /* Estilos para los elementos */

      .item-toolkit {
        position: relative;
        overflow: hidden;

        & h2 {
            position: absolute;
            font-size: 2rem;
            font-weight: bold;
            text-align: center;
            padding: .5rem;
            text-shadow: 0 0 3px var(--black);
        }
        & img {
            height: 100%;
            width: 100%;
            object-fit: contain;
            opacity: 0;
            transition: all 0.3s ease-in-out;
        }
      }

      .item-toolkit:hover img {
        opacity: 1;
      }

      .item-toolkit:hover h2 {
        opacity: 0;
      }
      .item-1 { background: #FF5722; grid-column: span 6; grid-row: span 2; 
    
    }

      .item-2 { background: #4CAF50; grid-column: span 5; grid-row: span 1; }
      .item-3 { background: var(--white); grid-column: span 2; grid-row: span 2; 

            & h2 {
                z-index: 1;
                transform: rotate(-90deg);
            }

            & img {
                width: 600%;
                transform: rotate(-90deg) translate(16% , -3%);
            }
        }
      .item-4 { background: #FFC107; grid-column: span 7; grid-row: span 2; }
      .item-5 { background: #9C27B0; grid-column: span 5; grid-row: span 1; }
      .item-6 { background: #E91E63; grid-column: span 4; grid-row: span 1; 

        & h2 {
            z-index: 2;
        }

        & img:last-child {
            z-index: 1;
            position: absolute;
            transform: rotate(-9deg) translateY(-10%);

        }
    }
}

#contact {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    padding: 3rem 2rem;
    background: rgba(10, 9, 1, 0.986);
    background-image: url(/Img/grid.png);
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: difference;

    & h1 {
        width: 100%;
        text-align: start;
        padding: 2rem 0 .5rem 0;
    }

    & .item-contact {
        display: flex;
        width:auto;
        min-width: 250px;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        background-color: var(--primary-color);
        padding: .5rem 1rem;
        border-radius: 5px;
        color: var(--black);
    }

    
    & .meet{
        background-color: #28a745;
    }
}

#made {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    height: 20vh;
    min-height: 20vh;
    width: 100%;
    margin: 0 auto;
    padding: 3rem 3rem 1rem 3rem;

    & h1 {
        width: 85%;
        & span {
            color: var(--primary-color);
        }
    }

    & p {
        font-size: .8rem;
        color: var(--primary-color);
        padding-top: 3rem;
    }
}

#personal-info {
    display: flex;
}

/* Scroll */
::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--white);
    width: 1px;
}

::-webkit-scrollbar-track {
    background-color: var(--primary-color);
}

/* Selection */
::selection {
    background-color: var(--primary-color);
    color: var(--black);
}

::-moz-selection {
    background-color: var(--primary-color);
    color: var(--black);
}